@using TestTaskApi.BLL.DTO
@model List<PlayerStatisticDto>
@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1>Отчет по игрокам</h1>
    <form asp-action="PlayerStatistics" asp-controller="Home" asp-anti-forgery="true">
        <p>
            <label for="StatusType">Статус:</label>
            <select id="StatusType" name="StatusType">
                <option value="1">Новый</option>
                <option value="2">Плохой</option>
            </select>
        </p>
        <p>Ставка выше внесения:<input type="checkbox"  name="BetTypeFlag" value="true"/></p>
        <p><button type="submit">Сформировать</button></p>    
    </form>
</div>
<div class="container">
    <div class="row">
        <table>
            <tr>
               <thead>
                <th>ФИО</th>
                <th>Баланс</th>
                <th>Дата регистрации</th>
                <th>Статус</th>
                <th>Сумма внесений</th>
                <th>Сумма ставок</th>
               </thead>
            </tr>
            <hr>
            @foreach (var entity in Model)
            {
                <div class="col-3 col-6-medium col-12-small">
                    <tbody>
                          <tr>
                            <td>@entity.Player.Surname @entity.Player.Name @entity.Player.Patronymic</td>
                            <td>@entity.Player.Balance</td>
                            <td>@entity.Player.RegistrationDate</td>
                            <td>@entity.Player.StatusType</td>
                            <td>@entity.SumAllTransactions</td>
                            <td>@entity.SumAllBets</td>
                          </tr>
                    </tbody>
                </div>
            }
        </table>
    </div>
</div>

